[submodule "games/gamedex"]
	path = games/gamedex
	url = git@github.com:zdiemer/gamedex.git
	branch = main
[submodule "web/old-diemer-codes/site"]
	path = web/old-diemer-codes/site
	url = git@github.com:zdiemer/diemer.codes.git
	branch = develop
[submodule "finance/money"]
	path = finance/money
	url = git@github.com:zdiemer/money.git
	branch = main
[submodule "infra/sms-relay"]
	path = infra/sms-relay
	url = git@github.com:zdiemer/sms-relay.git
	branch = main
[submodule "discord/smitele-bot"]
	path = discord/smitele-bot
	url = git@github.com:zdiemer/smitele-bot.git
	branch = main
[submodule "web/whatnowgg"]
	path = web/whatnowgg
	url = git@github.com:zdiemer/whatnowgg.git
	branch = main
[submodule "web/talaria"]
	path = web/talaria
	url = git@github.com:zdiemer/talaria.git
	branch = main
